@{
     Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
<body class="layout-custom">
<ul>
    <li><a><i>Telefon:</i> <br>  +40251 334 078 <br> +40251 334 079</a></li>
    <li><a><i>E-mail:</i> <br> contact@students.ro</a></li>
    </ul>
    </li>
   
    
      <h2>
    Locatia</h2>
    <ul class="box">
    <li><a>Str. Nicolae G. Caramfil 32, București 014201</a></li>
    </ul>
    </li>

    
      <h2>
    Informatie</h2>
    <ul>
    @*<li><a href="politica-de-confidentialitate.html">Politica de confidentialitate</a></li>*@
    <li><a href="https://anpc.ro/">Protectia consumatorilor-ANPC</a></li>
    </ul>
    </li>
    </ul>

    </body>